@import "tailwindcss";
@source "${root}/src/renderer/**/*.{vue,js,jsx,tsx,html}";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
  root: ":root";
  include: ;
  exclude: ;
  prefix: "d-";
  logs: true;
}